# Compiler files
cache/
out/

# Ignores broadcast logs
broadcast/

# Docs
docs/

# Dotenv file
.env

# Deployment outputs
deployments/

# Node modules (if any)
node_modules/

# src & test script
src/
script/Counter.s.sol

# remapping & lib
lib/
remappings.txt